extends layout

block content
  h1=title
  p Welcome to #{title}

  #bus
    p test
  
  .spotifyInfo
    Previous song: #{}
    Current song: #{}
    Next song: #{}
  
  .linkToControlPanel
    a(href='/control' id='controlPanelLink') Control Panel
