extends layout

block content
  h1=title
  p Welcome to #{title}

  #bus
    p test
  
  .spotify
    h3 Spotify
    //- Previous song: #{}
    //- Current song: #{}
    //- Next song: #{}
    img(id='sptPrvBtn' src='../imgs/skip-back.svg')
    img(id='sptPlayBtn' src='../imgs/play-circle.svg')
    img(id='sptPauseBtn' src='../imgs/pause-circle.svg')
    img(id='sptNextBtn' src='../imgs/skip-forward.svg')
